<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Salas</title>
    <link rel="stylesheet" href="{{url}}css/semantic.min.css"/>
    <script src="{{url}}js/jquery.min.js"></script>
    <script src="{{url}}js/semantic.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/icon.min.css">
  </head>
  <body ng-app="home" ng-controller="homeCtrl">
    <div class="ui inverted segment">
      <div class="ui inverted secondary menu">
        <a class="active item" href="{{url}}">
          <i class="eye icon"></i>
          Salas Ing. diseño
        </a>
        <a class="item" href="{{url}}about">
          <i class="edit icon"></i>
          Sobre la app
        </a>
        <div class="right menu">
          <a class="item" ng-show="{{usuario}}" href="{{url}}perfil">
            <i class="edit icon"></i>
            Cambiar contraseña
          </a>
          <a class="item" ng-show="{{usuario}}" href="{{url}}crear">
            <i class="user icon"></i>
            Crear usuario al sistema
          </a>
          <a class="item" ng-show="{{usuario}}" href="{{url}}agenda">
            <i class="card address icon"></i>
            Ver Agendas
          </a>
          <a class="item" ng-show="{{usuario}}" ng-click="btnCierra()">
            <i class="hand point left outline icon"></i>
            Cerrar sesion
          </a>
        </div>
      </div>
    </div>
    {{{body}}}
  </body>
  <script src="{{url}}js/build.js"></script>
  <script src="{{url}}js/socket.io.js"></script>
</html>
