<div class="ui container" ng-controller="homeCtrl" ng-init="getAgenda()"><br><br>
  <h4 class="ui horizontal divider header">
    <i class="question circle outline icon"></i>
    Sobre la aplicación
  </h4>
  <h3>UPIICSA-IPN</h3>
  <h4>Proyecto realizado para la materia de Ingenieria de Diseño</h4>
  <span>Realizado por:</span><br>
  <span>Hernandez Rito Jose Osvaldo</span><br>
  <span>Hernandez Lopez Zamir</span>
  <hr>
  <h4>Tecnologias usadas</h4>
  <span>NODEJS</span><br>
  <span>EXPRESSJS</span><br>
  <span>ANGULARJS</span><br>
  <span>SQL SERVER</span><br>
  <span>HTML5</span><br>
  <span>SEMANTIC UI</span>
</div>
