<div class="ui container" ng-controller="homeCtrl" ng-init="getAgenda()"><br><br>
  <h4 class="ui horizontal divider header">
    <i class="card address icon"></i>
    Agendas activas
  </h4>
  <table class="ui table green">
    <thead>
      <th>Asunto</th>
      <th>Fecha</th>
      <th>Horario</th>
      <th>Cafeteria</th>
      <th>Proyector</th>
      <th>Pizarrón</th>
      <th>Participantes</th>
      <th>---</th>
    </thead>
    <tbody>
      <tr ng-repeat="l in list">
        <td>{[l.asunto]}</td>
        <td>{[l.fecha]}</td>
        <td>{[l.horario]}</td>
        <td>
          <button class="circular green ui icon button" ng-show="{[l.cafeteria]}">
            <i class="icon check"></i>
          </button>
        </td>
        <td>
          <button class="circular green ui icon button" ng-show="{[l.proyector]}">
            <i class="icon check"></i>
          </button>
        </td>
        <td>
          <button class="circular green ui icon button" ng-show="{[l.pizarron]}">
            <i class="icon check"></i>
          </button>
        </td>
        <td>
          <button type="button" name="button" class="ui button small" onclick="$('#modal-participante').modal('show');" ng-click="btnGetParticipantes(l)">
            <i class="eye icon"></i>
            Ver participantes
          </button>
        </td>
        <td>
          <button type="button" ng-hide="{{normal}}" name="button" class="ui button small red" ng-click="btnDesactivarAgenda(l)">
            <i class="times icon"></i>
            Desactivar
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="ui modal" id="modal-participante">
    <div class="header">Participantes</div>
    <div class="content">
      <table class="ui table">
        <thead>
          <th>Asunto</th>
          <th>Partipante</th>
          <th>Sala</th>
        </thead>
        <tbody>
          <tr ng-repeat="l in listParticipante">
            <td>{[l.asunto]}</td>
            <td>{[l.nombre_completo]}</td>
            <td>{[l.sala]}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="actions">
      <div class="ui approve button">Cerrar</div>
    </div>
  </div>

</div>
