<div class="ui container" ng-controller="homeCtrl"><br><br>
  <div ng-show="{{normal}}">
    <h1>No puedes acceder a este modulo</h1>
  </div>
  <div ng-hide="{{normal}}">
    <h4 class="ui horizontal divider header">
      <i class="user icon"></i>
      Crear nuevo usuario al sistema
    </h4>
    <form class="ui form">
      <div class="field">
        <label>Usuario</label>
        <input type="text" ng-model="crear_usuario.usuario">
      </div>
      <div class="field">
        <label>Perfil</label>
        <select ng-model="crear_usuario.perfil">
          <option value="1">Administrador</option>
          <option value="2">Usuario</option>
        </select>
      </div>
      <button type="button" name="button" class="ui button blue" ng-disabled="crear_usuario.usuario.length === 0 || crear_usuario.perfil.length === 0" ng-click="btnCrearUsuario()">
        <i class="plus icon"></i>
        Crear usuario
      </button>
    </form>
  </div>
</div>
