<div class="ui container" ng-controller="homeCtrl" ng-init="inicio()">
  <div class="ui grid">
    <div class="ten wide column">
      <div class="ui segment">
        <h2 class="ui floated header">Nueva agenda</h2>
        <div class="ui clearing divider"></div>
        <div class="ui form">
          <div class="field">
            <label>Selecciona una sala </label>
            <select class="" ng-model="agenda.sala_id" ng-disabled="mi_agenda_form" ng-change="changeSala()">
              <option ng-repeat="l in sala" value="{[l.sala_id]}">{[l.nombre]}</option>
            </select>
          </div>
          <button class="ui button blue" ng-hide="{{normal}}" type="button" name="button" ng-disabled="agenda.sala_id === undefined || agenda_err" onclick="$('#modal-reporte').modal('show');" ng-click="btnGetReporte()">
            Generar reporte
          </button>
          <button type="button" ng-hide="{{normal}}" name="button" class="ui button green" onclick="$('#modal-sala').modal('show');" ng-disabled="mi_agenda_form">
            <i class="plus icon"></i>
            Nueva sala
          </button>
          <button type="button" ng-hide="{{normal}}" name="button" class="ui button red" ng-hide="agenda.sala_id === undefined" ng-disabled="agenda.sala_id === undefined || agenda_err" ng-click="btnDesactivarSala()">
            <i class="times icon"></i>
            Desactivar sala
          </button>
        </div>
      </div>
      <div class="ui segment" ng-hide="mi_agenda">
        <h2 class="ui floated header">Horarios de la sala</h2>
        <div class="ui clearing divider"></div>
        <div class="ui form">
          <div class="field">
            <label>Porfavor selecciona un horario en el cual deseas realizar la agenda</label>
          </div>
        </div>
        <table class="ui table">
          <thead>
            <th>Inicio</th>
            <th>Fin</th>
            <th>Agendar</th>
          </thead>
          <tbody>
            <tr ng-repeat="l in listHorario">
              <td>{[l.ini]}</td>
              <td>{[l.fin]}</td>
              <td>
                <button type="button" name="button" class="ui button green" ng-click="btnSeleccionarHorario(l)" ng-hide="l.en_uso" ng-disabled="agenda_err">
                  <i class="plus icon"></i>
                  Seleccionar
                </button>
                <span ng-show="l.en_uso">
                  No disponible
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="six wide column" ng-show="agenda.sala_id != undefined">
      <div class="ui segment">
        <h2 class="ui floated header">Sala {[agenda.sala_id]}</h2>
        <button type="button" name="button" class="ui button red right floated button small" onclick="location.reload()" ng-show="mi_agenda_cancelar">
          <i class="times icon"></i>
          Cancelar
        </button>
        <div class="ui clearing divider"></div>
        <div class="ui form" ng-show="mi_agenda">
          <center>
            <div class="ui small image">
              <img src="{{url}}img/cityscape.png">
            </div><br><br>
          </center>
          <button class="ui button green fluid" type="button" name="button" ng-disabled="agenda.sala_id === undefined" ng-click="btnShowAgenda()">
            Seleccionar sala
          </button>
        </div>
        <div class="ui icon message green" ng-hide="mi_agenda">
          <i class="inbox icon"></i>
          <div class="content">
            <div class="header">
              Agenda seleccionada
            </div>
            <p>Seleccionaste la agenda con id: {[agenda.sala_id]}.</p>
          </div>
        </div>
        <div class="ui icon message red" ng-show="agenda_err">
          <i class="inbox icon"></i>
          <div class="content">
            <div class="header">
              Tienes un error
            </div>
            <p>Tienes que cancelar la sala seleccionada para poder realizar una nueva agenda</p>
          </div>
        </div>
        <div class="ui form" ng-show="mi_agenda_form">
          <div class="field">
            <h4 class="ui horizontal divider header">
              <i class="calendar alternate icon"></i>
              Horario {[horario.ini]} - {[horario.fin]}
            </h4>
            <div class="two fields">
              <div class="field">
                <label>Asunto *</label>
                <input type="text" ng-model="nueva.asunto">
              </div>
              <div class="field">
                <label>Fecha *</label>
                <input type="date" ng-model="nueva.fecha" ng-blur="btnFecha()">
              </div>
            </div>
            <h4 class="ui horizontal divider header">
              <i class="tasks icon"></i>
              Servicios en la sala
            </h4>
            <div class="inline field">
              <div class="ui toggle checkbox" ng-click="cCafeteria()">
                <input type="checkbox" tabindex="0" class="hidden" value="cafeteria" ng-model="nueva.cafeteria" >
                <label>Cafeteria</label>
              </div>
            </div>
            <div class="inline field">
              <div class="ui toggle checkbox" ng-click="cProyector()">
                <input type="checkbox" tabindex="0" class="hidden" value="proyector" ng-model="nueva.proyector" >
                <label>Proyector</label>
              </div>
            </div>
            <div class="inline field">
              <div class="ui toggle checkbox" ng-click="cPizarron()">
                <input type="checkbox" tabindex="0" class="hidden" value="pizarron" ng-model="nueva.pizarron" >
                <label>Pizarrón</label>
              </div>
            </div>
            <h4 class="ui horizontal divider header">
              <i class="user plus icon"></i>
              Participantes
            </h4>
            <table class="ui table">
              <thead>
                <th>Nombre</th>
                <th>---</th>
              </thead>
              <tbody>
                <tr ng-repeat="l in participantes">
                  <td>{[l.nombre]}</td>
                  <td>
                    <button type="button" name="button" class="ui button red small" ng-click="btnEliminar(l)">
                      <i class="times icon"></i>
                      Eliminar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <button type="button" name="button" class="ui button blue fluid" onclick="$('#modal-participante').modal('show');">
              <i class="plus icon"></i>
              Agregar Participante
            </button><br><br>
            <button type="button" name="button" ng-click="btnNuevaAgenda()" class="ui button blue small">
              <i class="plus icon"></i>
              Agregar agenda
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Espacio para modal -->

  <div class="ui modal" id="modal-participante">
    <div class="header">
      Seleccionar Participante
    </div>
    <div class="content" ng-show="participante_interno">
      <label>Porfavor selecciona un Participante a la agenda. Puedes buscarlo si es interno ó si no puedes agregarlo como externo</label><br><br>
      <div class="ui search">
        <div class="ui icon input">
          <input class="prompt" type="text" placeholder="Buscar participante" id="participante-input">
          <i class="search icon"></i>
        </div>
        <div class="results"></div>
      </div>
    </div>
    <div class="content" ng-show="participante_externo">
      <label>Porfavor completa el formulario</label><br><br>
      <form class="ui form">
        <div class="field">
          <div class="three fields">
            <div class="field">
              <label>Nombre *</label>
              <input type="text" ng-model="externo.nombre">
            </div>
            <div class="field">
              <label>Apellido Paterno *</label>
              <input type="text" ng-model="externo.ap">
            </div>
            <div class="field">
              <label>Apellido Materno *</label>
              <input type="text" ng-model="externo.am">
            </div>
          </div>
          <div class="three fields">
            <div class="field">
              <label>Telefono *</label>
              <input type="text" ng-model="externo.telefono">
            </div>
            <div class="field">
              <label>Edad *</label>
              <input type="text" ng-model="externo.edad" ng-blur="changeName()">
            </div>
            <div class="field">
              <label>Correo *</label>
              <input type="text" ng-model="externo.correo">
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="actions">
      <div class="ui approve button red">Cerrar</div>
      <div class="ui button blue" ng-click="btnParticipanteExterno()" ng-hide="participante_externo">
        <i class="address card icon"></i>
        Participante externo
      </div>
      <div class="ui button blue" ng-click="btnParticipanteInterno()" ng-hide="participante_interno">
        <i class="address card icon"></i>
        Participante interno
      </div>
      <div class="ui button green" ng-show="participante_interno" ng-click="btnAgregarArr()">
        <i class="plus icon"></i>
        Agregar
      </div>
      <div class="ui button green" ng-show="participante_externo" ng-click="btnAgregarArr(1)">
        <i class="plus icon"></i>
        Agregar Externo
      </div>
    </div>
  </div>

  <div class="ui modal" id="modal-reporte">
    <div class="header">Reportes</div>
    <div class="content">
      <div class="ui icon message" ng-show="reporte_msg">
        <i class="notched circle loading icon"></i>
        <div class="content">
          <div class="header">
            Espere un momento.
          </div>
          <p>Se esta generando el reporte</p>
        </div>
      </div>
      <div ng-hide="reporte_msg">
        <h4>Descargar excel</h4>
        <a type="button" name="button" class="ui button green" href="{{url}}reporte/report.xlsx">
          <i class="download icon"></i>
          Descargar
        </a>
      </div>
    </div>
    <div class="actions">
      <div class="ui approve button">Cerrar</div>
    </div>
  </div>

  <div class="ui modal" id="modal-sala">
    <div class="header">Agregar nueva sala</div>
    <div class="content">
      <form class="ui form">
        <div class="field">
          <label>Nombre de la sala</label>
          <input type="text" ng-model="nueva_sala.nombre">
        </div>
      </form>
    </div>
    <div class="actions">
      <div class="ui approve button">Cerrar</div>
      <div class="ui button green" ng-click="btnAgregarSala()">
        <i class="plus icon"></i>
        Agregar
      </div>
    </div>
  </div>

</div>
