<div class="ui grid" ng-app="homeCtrl">
  <div class="two wide column"></div>
  <div class="six wide column"><br>
    <h2 class="ui header">
      <i class="servicestack icon"></i>
      <div class="content">
        Bienvenido - login
      </div>
      <div class="sub header">
        Porfavor! Ingrese su usuario y contraseña para ingresar al sistema
      </div>
    </h2>
    <form class="ui form">
        <div class="field">
          <label>Usuario</label>
          <input type="text" ng-model="logon.usuario">
        </div>
        <div class="field">
          <label>Password</label>
          <input type="password" ng-model="logon.pass">
        </div><br>
        <button class="ui button green" type="button" name="button" ng-click="btnDoLogin()">
          Ingresar
        </button>
    </form>
  </div>
  <div class="two wide column"></div>
</div>
