<div class="ui container" ng-controller="homeCtrl"><br><br>
  <h4 class="ui horizontal divider header">
    <i class="key icon"></i>
    Cambiar contraseña
  </h4>
  <form class="ui form">
    <div class="field">
      <label>Nueva Contraseña</label>
      <input type="password" ng-model="cambiar_user.nueva">
    </div>
    <button type="button" name="button" class="ui button blue" ng-disabled="cambiar_user.nueva.length === 0" ng-click="btnCambiarPass()">
      <i class="edit icon"></i>
      Cambiar contraseña
    </button>
  </form>
</div>
